[credential "https://github.com"]
	helper = 
	helper = !/home/johncoffee/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/johncoffee/.local/bin/gh auth git-credential
[core]
	excludesfile = /home/johncoffee/.gitignore_global
